.vendas {
    display: flex;
    width: 400px;
    height: 200px;    
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.75);
    border: none;
    margin-top: 3rem; 
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.estoque {
    display: flex;
    width: 400px;
    height: 200px;    
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.75);
    border: none;
    margin-top: 3rem; 
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.grafico {
    display: flex;
    position: absolute;
    top: 0;
    left: 500px;
    width: 450px;
    height: 450px;    
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.75);
    border: none;
    margin-top: 3rem; 
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}