body {
  
  background-color: rgba(244,210,78, .5 ) ;
  
  /* #f4d24e */

}

a { 
  text-decoration: none;
  color: #333;
}

.header {
  display: flex;
  margin-left: -1px;    
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  box-shadow: 5px 5px 10px -7px rgba(0,0,0,0.75);
  border-radius: 0px 8px 8px 0px;    
  background: #133696;
}

.header p {
  font-size: 1.5rem;
  font-family: 'IM Fell English', serif;
  color: #E3AF2B ;
  margin-left: 3rem;
}

.header button {
  margin-left: 50rem;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  background: rgb(246,205,65);
  border: none;
  box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.55);
  cursor: pointer;
}



.container {
  display: grid;    
  grid-template-columns: repeat(4, 1fr);    
  margin: 15px;
  height: 85%;
  
}




.barraHead{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: white;
  width: 60rem;
  height: 50px;
  list-style: none;
  align-items: center;
  font-family: 'IM Fell English', serif;
  border-radius: 5px;
  background: #133696;
  font-size: 1.2rem;
  margin-left: 2.5rem;
  color: #E3AF2B;
  margin-bottom: 40px;
  
}


.barra {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 2.5rem;
  background: #2B5CE3;
  height: 40px;
  align-items: center;
  list-style: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif; 
  color: #FFCC4A;
  
}    

.barra button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background: #E3AF2B;
  color: #133696;
}

/* 

font-family: 'IM Fell English', serif;
font-family: 'Roboto', sans-serif; 

*/