/* 

font-family: 'IM Fell English', serif;
font-family: 'Roboto', sans-serif; 

*/

body {
  background-color: rgba(244, 210, 78, 0.5);
}

a {
  text-decoration: none;
  color: #333;
}

.header {
  display: flex;
  margin-left: -1px;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  box-shadow: 5px 5px 10px -7px rgba(0, 0, 0, 0.75);
  border-radius: 0px 8px 0px 0px;
  background: #133696;
}

.header p {
  font-size: 1.5rem;
  font-family: "IM Fell English", serif;
  color: #e3af2b;
  margin-left: 3rem;
}

.header button {
  position: absolute;
  right: 70px;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  background: rgb(246, 205, 65);
  border: none;
  box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.55);
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 15px;
  height: 85%;
}

.barraHead {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: white;
  width: 60rem;
  height: 50px;
  list-style: none;
  align-items: center;
  font-family: "IM Fell English", serif;
  border-radius: 5px;
  background: #133696;
  font-size: 1.2rem;
  margin-left: 2.5rem;
  color: #e3af2b;
  margin-bottom: 40px;
}

.barra {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 2.5rem;
  background: #2b5ce3;
  height: 40px;
  align-items: center;
  list-style: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: #ffcc4a;
}

.barra button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background: #e3af2b;
  color: #133696;
  cursor: pointer;
}

.barra button:hover {
  border: 2px solid #e3af2b;
}

.header button:hover {
  transform: scale(1.1);
}

.form {
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  position: absolute;
  top: 5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.form input {
  border: none;
  border-bottom: 2px solid #2b5ce381;
  height: 20px;
  font-size: 1.2rem;
}

.form input:focus {
  outline: none;
  background: rgba(126, 126, 126, 0.1);

  border: 2px solid #2b5ce3;
  border-radius: 6px;
}

.form input[type="number"] {
  width: 5rem;
}

.form button {
  border: none;
  border-radius: 5px;
  background: #e3af2b;
  height: 50px;
  width: 150px;
  margin: 50px auto;
  font-size: 1.2rem;
  color: #133696;
}
